<!DOCTYPE html>

{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password_reset</title>
</head>
<body>
    <a href="/login">previous page</a>
    <h5>Reset your password below</h5>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}<br>
        <button type="submit">Reset password</button>
    </form>
</body>
</html>